html {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Dosis', sans-serif;
}


h1 {
      font-size: 72px;
}

a{
    color: #000000;
    text-decoration: none;
}

.caps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.menu {
      padding: 20px;
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    list-style-type: none;
    justify-content: space-between;
}

pre {
    background-color: rgb(248, 248, 248);
    border: 1px solid #000000;
    border-radius: 7px;
    width: min-content;
}

footer {
    color:#f5f5f5;
    background-color: #000000;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;


}

.footer-p {
    color: #ffffff;
}